# Third party services default config
rabbitmq:
  size: 3
  domain_name: rabbitmq
  envs:
    - key: HOST_IP
      value: 127.0.0.1
  services: 
    - name: rabbitmq
      ports: 
        - name: queue-port
          port: 5672
          proto: TCP
        - name: cluster-port
          port: 4369
          proto: TCP
cassandra-config:
  domain_name: cassandra-config
  size: 3
  services:
    - name: cassandra-config
      ports:
        - name: cql
          port: 9042
        - name: trift
          port: 9160
cassandra-analytics:
  domain_name: cassandra-analytics
  size: 3
  services:
    - name: cassandra-analytics
      ports:
        - name: cql
          port: 9042
        - name: trift
          port: 9160
zookeeper:
  domain_name: zookeeper
  size: 3
  services:
    - name: tf-zookeeper
      ports:
        - name: zk
          port: 2181


# TF default configuration 
# config
tf-config-api:
  domain_name: tf-config-api
  image: docker-dev-local.docker.mirantis.net/opencontrail-exp-5.1-upstream/contrail-controller-config-api:5.1-4.15.0-54-generic 
  size: 1
  services:
    - name: tf-config-api
      ports:
        - name: api
          port: 9100
        - name: introspect
          port: 8084
        - name: debug
          port: 8095
tf-config-svc-monitor:
  domain_name: tf-config-svc-monitor
  image: docker-dev-local.docker.mirantis.net/opencontrail-exp-5.1-upstream/contrail-controller-config-svcmonitor:5.1-4.15.0-54-generic 
  size: 1
  services:
    - name: tf-config-svc-monitor
      ports:
        - name: introspect
          port: 8088

tf-config-schema:
  domain_name: tf-config-schema
  image: docker-dev-local.docker.mirantis.net/opencontrail-exp-5.1-upstream/contrail-controller-config-schema:5.1-4.15.0-54-generic 
  size: 1
  services:
    - name: tf-config-schema
      ports:
        - name: introspect
          port: 8087

tf-config-devicemgr:
  domain_name: tf-config-devicemgr
  image: docker-dev-local.docker.mirantis.net/opencontrail-exp-5.1-upstream/contrail-controller-config-devicemgr:5.1-4.15.0-54-generic 
  size: 1
  services:
    - name: tf-config-devicemgr
      ports:
        - name: introspect
          port: 8087

  #control
tf-control-control:
  domain_name: tf-control-control
  image: docker-dev-local.docker.mirantis.net/opencontrail-exp-5.1-upstream/contrail-controller-control-control:5.1-4.15.0-54-generic
  size: 1
tf-control-dns:
  domain_name: tf-control-dns
  image: docker-dev-local.docker.mirantis.net/opencontrail-exp-5.1-upstream/contrail-controller-control-dns:5.1-4.15.0-54-generic
  size: 1
tf-control-named:
  domain_name: tf-control-named
  image: docker-dev-local.docker.mirantis.net/opencontrail-exp-5.1-upstream/contrail-controller-control-named:5.1-4.15.0-54-generic
  size: 1
  securityContext:
    capabilities:
    - DAC_READ_SEARCH
    - SYS_RESOURCE 

#analytics
tf-analytics-collector:
  domain_name: tf-analytics-collector
  image: willco/tf-analytics-collector
  size: 1
tf-analytics-api:
  domain_name: tf-analytics-api
  image: willco/tf-analytics-api
  size: 1
